@import url('https://fonts.googleapis.com/css?family=Lato:100,400|Roboto:300,400,500');

p.lead a {
    color: #6c4191;
    text-decoration: none;
}

p.lead > a:focus, a:hover {
    color: #6c4191;
    text-decoration: underline;
}


p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.lead-color {
  color: #6c4191;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

.intro-text {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

span.h3 {
  font-size: 14px;
}

.left-align {
  text-align: left;
}

.navbarNav {
  position: relative;
  float: right;
}

ul > li {
  color: #222222;
  list-style: none;
}

.col-md-3 .panel-body .btn {
  margin: 0 auto;
}

.panel-body {
  padding: 0 15px;
}

.pbxs {
  padding-bottom: 5px;
}

.pbs {
  padding-bottom: 25px;
}

.mtxs {
  margin-top: 8px;
}

.mts {
  margin-top: 25px;
}

.mbs {
  margin-bottom: 25px;
}

.mtm {
  margin-top: 50px;
}

.mbm {
  margin-bottom: 50px;
}

.mtl {
  margin-top: 75px;
}

.mbl {
  margin-bottom: 75px;
}

.mtxl {
  margin-top: 100px;
}

.mtxxl {
  margin-top: 125px;
}

.mbxxl {
  margin-bottom: 125px;
}

div.contact-info {
  line-height: 1.2
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}

.fa {
  color: black;
}

.col-sm-12 img {
  width: 95%
}

.img-center-align {
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 15%;
}

.center-align {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.wrapper-2 {
  position: relative;
  text-align: center;
  width: 100%;
}

img {
  border-radius: 2px;
}

.donate {
  width: 85%;
  margin: 0 auto;
}

.border-radius {
  border: #EDE7F6 solid 3px;
  border-radius: 300px;
  width: 100%;
  // margin: 0 auto;
}

.social-media {
  text-align: center;
  margin: 0 auto;
  .fa {
    margin: 0px 20px;
    color: #6c4191;
  }
}

.fa {
  color: #6c4191;
}

a .fa:hover, .fa:active {
  color: #C1B3D4;
}

.jumbotron-purple {
  background-color: #C1B3D4;
  color: #410277;
  h2, h4 {
    color: #410277;
    opacity: 0.50;
  }
}

.jumbotron-border {
  background-color: #FFF;
  border: solid #C1B3D4 1px;
}
