<div class="row mtxxl">
  <h1 class="mbm center-align">Council Members of Queens</h1>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/paulvallone.jpg">
        <div class="contact-info mts">
          <div>Paul Vallone</div>
          <div>District #19</div>
          <div>(718) 619-8611</div>
          <div>district19@council.nyc.gov</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="mailto:district19@council.nyc.gov?bcc=kafscab@gmail.com
&amp;subject=The%20subject%20of%20the%20email
&amp;body=The%20body%20of%20the%20email" role="button">
Send an Email</a></p>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/peterkoo.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/julissacopeland.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/costaconstantinides.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/barrygrodenchik.png">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/rorylancman.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/danieldromm.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/jamesbramer.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/daneekmiller.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/rubenwills.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/karenkoslowitz.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/elizabethcrowley.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/donovanrichards.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/ericulrich.jpg">
        <div class="contact-info mts">
          <div>Full Name</div>
          <div>District #</div>
          <div>Phone</div>
          <div>Email</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
