<div class="row mtxxl">
  <h1 class="mbm center-align">Council Members of Queens</h1>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/paulvallone.jpg">
        <div class="contact-info mts">
          <div>Paul Vallone</div>
          <div>District #19</div>
          <div>Auburndale, Bay Terrace, Bayside, Beechhurst, College Point, Douglaston, Flushing, Little Neck, Malba, Whitestone</div>
          <div>718-619-8611</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="mailto:district19@council.nyc.gov?bcc=kafscab@gmail.com
&amp;subject=The%20subject%20of%20the%20email
&amp;body=The%20body%20of%20the%20email" role="button">
Send an Email</a></p>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/peterkoo.jpg">
        <div class="contact-info mts">
          <div>Peter Koo</div>
          <div>District #20</div>
          <div>Downtown Flushing, Murray Hill, Queensboro Hill</div>
          <div>718-888-8747</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/julissacopeland.jpg">
        <div class="contact-info mts">
          <div>Julissa Ferreras-Copeland</div>
          <div>District #20</div>
          <div>East Elmhurst, Elmhurst, Jackson Heights, and Corona in Queens, including Flushing Meadows Corona Park, Lefrak City and LaGuardia Airport</div>
          <div>718-651-1917</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/costaconstantinides.jpg">
        <div class="contact-info mts">
          <div>Costa Constantinides</div>
          <div>District #22</div>
          <div>Astoria, East Elmhurst, Jackson Heights, Woodside</div>
          <div>718-274-4500</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/barrygrodenchik.png">
        <div class="contact-info mts">
          <div>Barry Grodenchik</div>
          <div>District #23</div>
          <div>Bayside, Bellerose, Douglaston, Floral Park, Fresh Meadows, Glen Oaks, Hollis, Hollis Hills, Holliswood, Jamaica Estates, Little Neck, Queens Village</div>
          <div>718-468-0178</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/rorylancman.jpg">
        <div class="contact-info mts">
          <div>Rory Lancman</div>
          <div>District #24</div>
          <div>Kew Gardens Hills, Pomonok, Electchester, Fresh Meadows, Hillcrest, Jamaica Estates, Briarwood, Parkway Village, Jamaica Hills, Jamaica</div>
          <div>718-217-4969</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/danieldromm.jpg">
        <div class="contact-info mts">
          <div>Daniel Dromm</div>
          <div>District #25</div>
          <div>Elmhurst, Jackson Heights</div>
          <div>718-803-6373</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/jamesbramer.jpg">
        <div class="contact-info mts">
          <div>James G. Van Bramer</div>
          <div>District #26</div>
          <div>Sunnyside, Woodside, Long Island City, Astoria, Dutch Kills</div>
          <div>718-383-9566</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/daneekmiller.jpg">
        <div class="contact-info mts">
          <div>I. Daneek Miller</div>
          <div>District #27</div>
          <div>Cambria Heights, Hollis, Jamaica, St. Albans, Queens Village, and Springfield Gardens</div>
          <div>718-776-3700</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/rubenwills.jpg">
        <div class="contact-info mts">
          <div>Ruben Wills</div>
          <div>District #28</div>
          <div>Rochdale, South Ozone Park</div>
          <div>718-206-2068</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/karenkoslowitz.jpg">
        <div class="contact-info mts">
          <div>Karen Koslowitz</div>
          <div>District #29</div>
          <div>Rego Park, Forest Hills, Kew Gardens, Richmond Hill</div>
          <div>718-544-8800</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/elizabethcrowley.jpg">
        <div class="contact-info mts">
          <div>Elizabeth Crowley</div>
          <div>District #30</div>
          <div>Glendale, Maspeth, Middle Village, Ridgewood, Woodhaven, Woodside</div>
          <div>718-366-3900</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/donovanrichards.jpg">
        <div class="contact-info mts">
          <div>Donovan J. Richards</div>
          <div>District #31</div>
          <div>	Arverne, Brookville, Edgemere, Far Rockaway, Laurelton, Rosedale, Springfield Gardens</div>
          <div>718-471-7014</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="border-radius" src="images/ericulrich.jpg">
        <div class="contact-info mts">
          <div>Eric A. Ulrich</div>
          <div>District #32</div>
          <div>Belle Harbor, Breezy Point, Broad Channel, Howard Beach, Lindenwood, Neponsit, Ozone Park, Rockaway Park, Roxbury, Seaside, Woodhaven</div>
          <div>718-738-1083</div>
        </div>
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-lg btn-default" href="#" role="button">Send an Email</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
