<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/donovanrichards.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p class="small-text"><span>Name &amp; District</span><br>Donovan J. Richards #31</p>
          <p class="small-text"><span>Neighborhoods </span><br>Arverne, Brookville, Edgemere, Far Rockaway, Laurelton, Rosedale, Springfield Gardens</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/ericulrich.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p class="small-text"><span>Name &amp; District</span><br>Eric A. Ulrich #32</p>
          <p class="small-text"><span>Neighborhoods </span><br>Belle Harbor, Breezy Point, Broad Channel, Howard Beach, Lindenwood, Neponsit, Ozone Park, Rockaway Park, Roxbury, Seaside, Woodhaven</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3"></div>
  <div class="col-sm-12 col-md-3"></div>
</div>
