<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/paulvallone.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="mailto:district19@council.nyc.gov?bcc=education_committee@kafsc.org
            &amp;subject=Advocacy%20Fund%20for%20KAFSC%20
            &amp;body=Dear%20Councilmember%20Paul%20Vallone:%0A%0A
            As%20a%20resident%20of%20New%20York%20City,%20I%20urge%20you%20to%20support%20the%20Korean%20American%20Family%20Services%20Center%20(KAFSC).%20KAFSC%20is%20a%20leading%20non-profit%20organization%20that%20supports%20and%20empowers%20adults,%20youth%20and%20children%20to%20lead%20safe%20and%20healthy%20lives.%20KAFSC%20helps%20vulnerable%20immigrants%20and%20women%20who%20are%20the%20most%20vulnerable,%20providing%20them%20with%20protection%20and%20resources.%20For%20more%20information%20about%20KAFSC’s%20services,%20please%20go%20to%20http://kafsc.org.
            %0A%0A
            Now%20more%20than%20ever,%20KAFSC%20is%20needed.%20With%20a%20federal%20administration%20determined%20to%20cut%20funding%20for%20women%20and%20immigrant%20services,%20New%20York%20City%20needs%20to%20be%20the%20bulwark%20of%20safety.%20For%20many%20women%20and%20children,%20Flushing%20is%20dangerous--%20Queens%20is%20the%20second-highest%20destination%20in%20the%20world%20for%20human-trafficking.%20Through%20a%20confidential%20shelter,%2024-hour%20hotline,%20counseling,%20legal%20and%20social%20service%20advocacy,%20job%20training,%20housing,%20and%20children%20and%20youth%20services,%20KAFSC%20protects%20thousands%20of%20vulnerable%20New%20Yorkers.%0A%0AKAFSC%20needs%20your%20help.%20Please%20vote/award%20XX%20amount%20to%20KAFSC%20through%20the:%0A%0ADoVE%20Citywide%20Initiative%20-%20$200,000%20to%20support%20to%20our%20community%20outreach%20and%20education%20effort%20to%20increase%20the%20awareness%20of%20domestic%20violence%20and%20the%20available%20services%20in%20our%20community%20while%20enabling%20our%20organization%20to%20strengthen%20our%20services%20to%20the%20underserved%20immigrant%20community%20and%20expand%20our%20community%20engagement%20and%20outreach.%0A%0AYoung%20Women’s%20Initiative%20-%20$50,000%20for%20our%20program,%20Immigrant%20Young%20Women%20Survivors%20of%20Domestic%20Violence.%20Funding%20will%20supplement%20our%20work%20to%20provide%20immigrant%20women%20with%20culturally%20and%20linguistically%20victim%20services.%0A%0AYoung%20Women’s%20Initiative%20-%20$50,000%20for%20support%20Project%20GOAL.%20Through%20media%20arts%20and%20technology,%20our%20program%20empowers%20young%20Asian%20women%20in%20Queens%20to%20develop%20a%20healthy%20self-identity%20and%20enhance%20their%20personal%20and%20economic%20potential.%0A%0AQueens%20Delegation%20-%20$50,000%20to%20increase%20its%20organizational%20capacity%20to%20provide%20comprehensive%20case%20management%20services%20for%20Korean%20human/sex%20trafficking%20victims%20in%20the%20New%20York%20City%20and%20especially,%20those%20found%20at%20Queens%20Human%20Trafficking%20Intervention%20Court.%0A%0AThank%20you%20for%20your%20support,%0A%0A[TYPE IN YOUR NAME]" role="button">
            Send an Email</a>
          </p>
        </div>
        <div class="contact-info mts center-align">
          <p class><span class="h3">Name &amp; District</span><br>Paul Vallone #19</p>
          <p class><span class="h3">Serves neighborhoods</span><br>Auburndale, Bay Terrace, Bayside, Beechhurst, College Point, Douglaston, Flushing, Little Neck, Malba, Whitestone</p>
        </div>
      </div> <!-- end .panel-body -->
    </div> <!-- end .panel .panel-info -->
  </div> <!-- end .col-sm-6 col-md-3 -->
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/peterkoo.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p class><span class="h3">Name &amp; District</span><br>Peter Koo #20</p>
          <p class><span class="h3">Serves neighborhoods</span><br>Downtown Flushing, Murray Hill, Queensboro Hill</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/julissacopeland.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p class><span class="h3">Name &amp; District</span><br>Julissa Ferreras-Copeland #21</p>
          <p class><span class="h3">Serves neighborhoods</span><br>East Elmhurst, Elmhurst, Jackson Heights, and Corona in Queens, including Flushing Meadows Corona Park, Lefrak City and LaGuardia Airport</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/costaconstantinides.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p class><span class="h3">Name &amp; District</span><br>Costa Constantinides #22</p>
          <p class><span class="h3">Serves neighborhoods</span><br>Astoria, East Elmhurst, Jackson Heights, Woodside</p>
        </div>
      </div>
    </div>
  </div>
</div>
