<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/daneekmiller.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>I. Daneek Miller #27</p>
          <p><span class="h3">Serves neighborhoods </span><br>Cambria Heights, Hollis, Jamaica, St. Albans, Queens Village, and Springfield Gardens</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/rubenwills.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>Ruben Wills #28</p>
          <p><span class="h3">Serves neighborhoods </span><br>Rochdale, South Ozone Park</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/karenkoslowitz.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>Karen Koslowitz #29</p>
          <p><span class="h3">Serves neighborhoods </span><br>Rego Park, Forest Hills, Kew Gardens, Richmond Hill</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/elizabethcrowley.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>Elizabeth Crowley #30</p>
          <p><span class="h3">Serves neighborhoods </span><br>Glendale, Maspeth, Middle Village, Ridgewood, Woodhaven, Woodside</p>
        </div>
      </div>
    </div>
  </div>
</div>
