<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/barrygrodenchik.png">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=district19@council.nyc.gov&?subject=Advocacy+Fund+for+KAFSC&bcc=education_committee@kafsc.org&body=your+text+goes+here" role="button" target="_blank">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>Barry Grodenchik #23</p>
          <p><span class="h3">Serves neighborhoods </span><br>Bayside, Bellerose, Douglaston, Floral Park, Fresh Meadows, Glen Oaks, Hollis, Hollis Hills, Holliswood, Jamaica Estates, Little Neck, Queens Village</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/rorylancman.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>Rory Lancman #24</p>
          <p><span class="h3">Serves neighborhoods </span><br>Kew Gardens Hills, Pomonok, Electchester, Fresh Meadows, Hillcrest, Jamaica Estates, Briarwood, Parkway Village, Jamaica Hills, Jamaica</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/danieldromm.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>Daniel Dromm #25</p>
          <p><span class="h3">Serves neighborhoods </span><br>Elmhurst, Jackson Heights</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-info">
      <div class="panel-body">
        <img class="border-radius" src="images/jamesbramer.jpg">
        <div class="wrapper-2">
          <p class="mts"><a class="btn btn-med btn-info" href="#" role="button">Send an Email</a></p>
        </div>
        <div class="contact-info mts center-align">
          <p><span class="h3">Name &amp; District</span><br>James G. Van Bramer #26</p>
          <p><span class="h3">Serves neighborhoods </span><br>Sunnyside, Woodside, Long Island City, Astoria, Dutch Kills</p>
        </div>
      </div>
    </div>
  </div>
</div>
