---
title: KAFSC Advocacy Fund
---
<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img class="logo" src="images/logo.jpg"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Call Hotline</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mtxxl mbxxl">
  <br>
  <div class="intro-text">
    <h1 class="left-align">Advocacy Fund for KAFSC</h1>
    <div class="lead mtm mbm">
      <p class="lead-color left-align">What is Korean American Family Service Center?&nbsp;</p>
      <p><b>Korean American Family Service Center (KAFSC)</b> is a non-profit organization that commits to prevent domestic violence, sexual assault, and relationship abuse by providing services to individuals and families in Tri-State Area. Services that they provide are counseling, education, and advocacy programs, which are heavily depended on donations and grants such as VAWA.</p>
    </div>

    <div class="lead mts mbm">
      <p class="lead-color">What is VAWA?&nbsp;</p>
      <p><b>The Violence Against Women Act (VAWA)</b> is a landmark piece of legislation that sought to improve criminal justice and community-based responses to domestic violence, dating violence, sexual assault and stalking in the United States. VAWA currently administers 25 <a href="https://www.justice.gov/ovw/grant-programs" target="_blank">grant programs</a> that  funnel money to programs “designed to develop the nation’s capacity to reduce domestic violence, dating violence, sexual assault, and stalking by strengthening services to victims and holding offenders accountable.” And based on a new report, they could be on the budgetary chopping block under Donald Trump’s administration.</p>
    </div>

    <div class="lead mts mbm">
      <p class="lead-color">How is KAFSC affected by this budget cut?&nbsp;</p>
      <p>KAFSC is one of many non-profit organizations that rely on VAWA grant funds to serve victims of domestic violence and run operations in both Queens and Manhattan locations. Currently, VAWA provides funding for over 500 shelter bed nights, transitional housing and employment services, and counseling for over hundreds of victims and/or survivors of domestic violence and sexual assault. Cumulatively, this represents almost <b>20% of KAFSC’s program operations budget</b>.</p>
    </div>
  </div>

  <div class="jumbotron mtxl">
    <h1>But You Can Help!</h1>
    <p class="lead mts">We’ve asked the below council members for additional support from their discretionary funding. With your voices we can With your tech-savvy skills, you can send an email to council members in Queens. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec libero et neque commodo blandit ut eget metus. Nullam erat nibh, facilisis sit amet nibh et, fringilla tempus lacus. Curabitur dapibus turpis mauris. Pellentesque facilisis dolor augue, nec luctus risus condimentum nec. Nullam interdum varius commodo.</p>
    <div class="wrapper mtm" id="council-list">
      <a class="btn btn-lg btn-success center-align" href="#council-list" role="button">View Council Members</a>
    </div>
  </div>
  <div class="container mtxxl">
    <h1 class="mbm center-align">Council Members of NYC Council</h1>
    <%= partial "partials/members-1" %>
    <%= partial "partials/members-2" %>
    <%= partial "partials/members-3" %>
    <%= partial "partials/members-4" %>
  </div>
  <hr class="mbm mtl">
  <h1 class="mbm mtl" id="about">About KAFSC &amp; AB</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p class="lead mbs"><b class="lead-color">The Korean American Family Service Center (KAFSC)&nbsp;</b>is a leading, nonprofit organization that supports and empowers adults, youth and children to lead safe and healthy lives based on dignity, compassion and mutual respect. We are committed to preventing and ending domestic violence, sexual assault, and relationship abuse, and creating a violence-free society. Our counseling, education and advocacy programs for individuals and families in the New York Tri-State Area are provided in a culturally and linguistically appropriate setting. To learn more, visit <a href="http://kafsc.org/">KAFSC website</a>.</p>
      <div class="social-media">
        <a href="https://twitter.com/KAFSCNY"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/kafsc/"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
        <a href="mailto:contact@kafsc.org?"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mts">
      <img class="img-center-align" src="images/kafsc.jpg">
    </div>
  </div>

  <div class="row mtxxl mbxxl">
    <div class="col-sm-12 col-md-6">
      <img src="images/kafscab.jpg">
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="lead"><b class="lead-color">KAFSC Associate Board (AB)&nbsp;</b>is a group of professionals that support KAFSC by spreading awareness on domestic violence to other young professionals in Tri-State Area.</p>

      <p class="lead mtl mbs class="lead-color"" id="contact"><b class="lead-color">Interested in volunteering?&nbsp;</b>Both KAFSC and KAFSC AB organize and host events regularly throughout the year, and we can definitely use extra set of hands! You can support us through our volunteer network or other activities. To get started, fill out this <a href="https://goo.gl/forms/UXGy7dnWESLqBZna2" target="_blank">interest form</a>.</p>

      <div class="social-media">
        <a href="https://www.facebook.com/kafsc/"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
        <a href="mailto:vcchair@kafsc.org?"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <hr class="mbm mtl">
  <div class="row mtl mbm">
    <div class="col-sm-12 col-md-6">
      <h1 class="mbm" id="donate">Make a Donation</h1>
      <div class="jumbotron jumbotron-border center-align">
        <p class="lead">Every support that we receive is provided for individuals and families in need.<br><span>Make a donation today!</span></p>
        <a class="btn btn-success mtxs" href="http://kafsc.org/donate" target="_blank" role="button">Donate to KAFSC</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="mbm" id="contact">Call Hotline</h1>
      <div class="jumbotron jumbotron-purple center-align">
        <h2>24 HOUR HOTLINE</h2><hr>
        <h1 class="mtxs">718.460.3800</h1>
        <h4>Korean and English Bilingual Hotline</h4>
      </div>
    </div>
  </div>
</div><!-- /.container -->
<footer class="center-align">
  <p>KAFSC AB 2017<br>Made with <i class="fa fa-heart-o" aria-hidden="true"></i></p>
</footer>
