---
title: KAFSC AB - ADVOCACY CAMPAIGN
---
<nav class="navbar navbar-toggleable-md sticky-top navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img class="logo" src="images/logo.jpg"></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Call Hotline</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mtxxl mbxxl">
  <br>
  <div class="intro-text">
    <h1 class="left-align">Year 2017 for KAFSC</h1>
    <div class="lead mtm mbm">
      <p class="lead-color left-align">What is Korean American Family Service Center?&nbsp;</p>
      <p>korean American Family Service Center (KAFSC) is a non-profit organization that commits to prevent domestic violence, sexual assault, and relationship abuse by providing services to individuals and families in Tri-State area. Services that they provide are counseling, education, and advocacy programs, which are heavily depended on donations and grants such as VAWA.</p>
    </div>

    <div class="lead mts mbm">
      <p class="lead-color">WHAT IS VAWA?&nbsp;</p>
      <p>The Violence Against Women Act (VAWA) is a landmark piece of legislation that sought to improve criminal justice and community-based responses to domestic violence, dating violence, sexual assault and stalking in the United States. VAWA currently administers 25 grant programs aimed at helping women who become victims of violence. According to the Department of Justice <a href="https://www.justice.gov/ovw/grant-programs#cgpa" target="_blank">website</a>, those grants funnel money to programs “designed to develop the nation’s capacity to reduce domestic violence, dating violence, sexual assault, and stalking by strengthening services to victims and holding offenders accountable.” And based on a new report, they could be on the budgetary chopping block under Donald Trump’s administration.</p>
    </div>

    <div class="lead mts mbm">
      <p class="lead-color">How is KAFSC affected by this budget cut?&nbsp;</p>
      <p>KAFSC is one of many non-profit organizations that rely on VAWA grant funds to support and serve victims of domestic violence and run operations in both Queens and Manhattan locations. [Include more detail information here]</p>
    </div>
  </div>

  <div class="jumbotron mtxl">
    <h1>But You Can Help!</h1>
    <p class="lead mts"><b class="lead-color">Here's How&nbsp;</b>With your tech-savvy skills, you can send an email to council members in Queens. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec libero et neque commodo blandit ut eget metus. Nullam erat nibh, facilisis sit amet nibh et, fringilla tempus lacus. Curabitur dapibus turpis mauris. Pellentesque facilisis dolor augue, nec luctus risus condimentum nec. Nullam interdum varius commodo. In eget interdum ligula. Nam suscipit turpis ut sem malesuada interdum. Donec vitae metus porttitor arcu porta elementum quis non mauris. Sed eget dolor vel purus egestas consectetur.</p>
    <div class="wrapper mtm" id="council-list">
      <a class="btn btn-lg btn-success center-align" href="#council-list" role="button">View Council Members</a>
    </div>
  </div>
  <div class="container mtxxl">
    <h1 class="mbm center-align">Council Members of Queens</h1>
    <%= partial "partials/members-1" %>
    <%= partial "partials/members-2" %>
    <%= partial "partials/members-3" %>
    <%= partial "partials/members-4" %>
  </div>

  <h1 class="mbm mtxxl" id="about">About KAFSC &amp; AB</h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p class="lead mbs"><b class="lead-color">The Korean American Family Service Center (KAFSC)&nbsp;</b>is a leading, nonprofit organization that supports and empowers adults, youth and children to lead safe and healthy lives based on dignity, compassion and mutual respect. We are committed to preventing and ending domestic violence, sexual assault, and relationship abuse, and creating a violence-free society. Our counseling, education and advocacy programs for individuals and families in the New York Tri-State area are provided in a culturally and linguistically appropriate setting.</p>
      <div class="social-media">
        <a href="https://twitter.com/KAFSCNY"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/kafsc/"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
        <a href="mailto:contact@kafsc.org?"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 mts">
      <img class="img-center-align" src="images/kafsc.jpg">
    </div>
  </div>

  <div class="row mtxxl mbxxl">
    <div class="col-sm-12 col-md-6">
      <img src="images/kafscab.jpg">
    </div>
    <div class="col-sm-12 col-md-6">
      <p class="lead"><b class="lead-color">KAFSC Associate Board (AB)&nbsp;</b> is a group of young professionals that serve and support KAFSC to spread awareness on domestic violence by hosting events for other young professionals in Tri-State area. We provide service</p>

      <p class="lead mtl mbs class="lead-color"" id="contact"><b class="lead-color">Interested in volunteering?&nbsp;</b>Both KAFSC and KAFSC AB organize and host events regularly throughout the year, and we can definitely use extra set of hands! You can support us through our volunteer network. To get started, fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLScb6E0NC2JVsxbZTke1x0CtwdHv1rjgm7mPqaZC_kS6MmWI7A/viewform" target="_blank">volunteer application form</a>.</p>

      <div class="social-media">
        <a href="https://www.facebook.com/kafsc/"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
        <a href="mailto:vcchair@kafsc.org?"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="row mbm">
    <div class="col-sm-12 col-md-6">
      <h1 class="mbm" id="donate">Make a Donation</h1>
      <div class="jumbotron jumbotron-border center-align">
        <p class="lead">Every support that we receive is provided for individuals and families in need.<br><span>Make a Donation today!</span></p>
        <a class="btn btn-success mtxs" href="http://kafsc.org/donate" target="_blank" role="button">Donate to KAFSC</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="mbm" id="contact">Call Hotline</h1>
      <div class="jumbotron jumbotron-purple center-align">
        <h2>24 HOUR HOTLINE</h2><hr>
        <h1 class="mtxs">718.460.3800</h1>
        <h4>Korean and English Bilingual Hotline</h4>
      </div>
    </div>
  </div>
</div><!-- /.container -->
<footer class="center-align">
  <p>KAFSC AB 2017<br>Made with <i class="fa fa-heart-o" aria-hidden="true"></i></p>
</footer>
